header {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
    color: white;
    padding: 0px;
}

a {
    color: white;

}

.bienvenida {
    background-color: gray;
    color: white;
}

body {
    background-color: rgb(31, 188, 236);
    font-size: 25px;
}

.bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

p {
    text-align: center;
}

.tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black;
    text-align: justify;
    font-size: 30px;
    gap: 10px;
}

button.continuarCompra {
    margin-left: 250px;
    margin-right: 250px;
}

button.vaciarProducto {
    margin-left: 250px;
    margin-right: 250px;
}


h4 {
    margin: 0px;
    text-align: center;
}

p {
    display: flex;
    justify-content: center;
    margin: 0px;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-videojuego {
    width: 25%;
    border: 50px black;
}

#contenedor-videojuegos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.total-precio {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 50px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    margin-top: 10%;
    border-radius: 15px;
    border-color: 1px white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: gray;
    color: white;
    padding: 0px;
}

#titulo-footer {
    font-size: smaller;
}

/*MEDIA QUERY*/

@media (min-width: 100px) and (max-width: 1000px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .img-videojuego {
        width: 100%;
        border: 50px black;
    }

    .bienvenida {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarjeta {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px black;
        text-align: justify;
        font-size: 30px;
    }

    button.continuarCompra {
        margin-left: 0px;
        margin-right: 0px;
    }

    button.vaciarProducto {
        margin-left: 0px;
        margin-right: 0px;
    }


}