header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 25%;
    margin-right: 25%;
}

body {
    background-color: rgb(31, 188, 236);
    font-size: 25px;
}

div-tarjeta {
    border: 2px black;
}

h2 {
    display: block;
}

.img-videojuego {
    width: 25%;
    border: 50px black;
}

/*MEDIA QUERY*/

@media (min-width: 100px) and (max-width: 1000px) {
    .img-videojuego {
        width: 100%;
        border: 50px black;
    }    
}